
<section class="block" id="twelve">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="image">
          <div class="image">
            <img src="images/x/cat.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="image">
          <div class="image">
            <img src="images/x/bucket1.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="image">
          <div class="image">
            <img src="images/x/bucket1.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
