<section class="block {% if include.class %}{{ include.class }}{% endif %}" id="thirteen">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <h2 style="font-family:{{ include.font }}">Lorem ipsum dolor sit amet</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-8">
        <p>Mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum.</p>
      </div>
    </div>
  </div>
</section>
