<section id="four" class="block">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="text">
          <!-- <div class="icon">
            <i class='fa fa-bus'></i>
          </div> -->
          <h2>Lorem Consectetur</h2>
          <p>Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="text">
          <!-- <div class="icon">
            <i class='fa fa-cubes'></i>
          </div> -->
          <h2>Nisl consectetur et</h2>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="text">
          <!-- <div class="icon">
            <i class='fa fa-child'></i>
          </div> -->
          <h2>Scelerisque consectetur et</h2>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod.  </p>
        </div>
      </div>
    </div>
  </div>
</section>
