<section class="block {% if include.class %}{{ include.class }}{% endif %}" id="eight">
  <div class="background">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          {% if include.copy %}
            <p>{{ include.copy }}</p>
          {% else %}
            <p>Book design is the art of incorporating the content, style, format, design, and sequence of the various components of a book into a coherent whole. In the words of Jan Tschichold, "methods and rules upon which it is impossible to improve, have been developed over centuries. To produce perfect books, these rules have to be brought back to life and applied."</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
