#ten {
  hr {
    width: 20%;
    border: none;
    border-bottom: 1px solid #999;
    // display: block;
  }
  p {
    font-size: 2em;
    line-height: 1.4em;
    text-align: center;
    // font-weight: 700;
    color: #333;
  }
}
