---
layout: default
---
{% include nav.html %}

<!-- hero -->
{% include 5.html image="/images/x/car.jpg" color="#f2f2f2" text-align="" class="remove-top-margin" h2="Test Site"%}

<!-- heading -->
{% include 6.html h2="Theresa Queen of the North" p="Mother of Dragons" font="Avenir" %}

<!-- Pic / Text -->
{% include 1.html img="hottub.jpg" class="remove-top-margin" %}

<!-- pic -->
{% include 9.html img="farm2.jpg" %}

<!-- heading -->
{% include 6.html h2="Theresa Queen of the North" p="Mother of Dragons" font="Avenir" class="remove-bottom-margin" %}

<!-- Text -->
{% include 8.html class="remove-top-margin remove-bottom-margin" %}

<!-- Header w/ green bg -->
{% include 2.html %}

<!-- Heading / Sub-heading -->
{% include 6.html h2="The Power of Garlic" p="Pem tiam porta sem malesuada letiam porta sem magna mollis euismod." font="Avenir" %}

<!-- Divider -->
{% include 11.html %}

<!-- 3 blocks -->
{% include 4.html %}

<!-- Pic / Text -->
{% include 1.html img="terry.jpg" class="remove-top-margin" %}

<!-- Text / Pic -->
{% include 3.html img="garlic.jpg" class="remove-top-margin" %}

<!-- Hero (green) -->
{% include 5.html color="white" text-align="center" h2="Hero with a solid color" background="#264171" %}

<!-- Pic / Text -->
{% include 1.html %}

<!-- Quote -->
{% include 10.html %}

<!-- 3 cards -->
{% include 12.html %}

<!-- 2 col text -->
{% include 13.html font="Playfair" class="remove-top-margin remove-bottom-margin" %}

<!-- Text -->
{% include 8.html %}

<!-- Sign up -->
{% include 7.html %}
